@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.nft-gradient {
    background: linear-gradient(#8AC1FA80, #8AC1FA);
 }
 :root {
    /* fonts */
    --s-body: "Red Hat Text";
    --h1: "Red Hat Display";
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --s-body-size: 18px;
    --font-size-xl: 20px;
    --h1-size: 56px;
    --font-size-9xl: 28px;
    --font-size-17xl: 36px;
    --font-size-5xl: 24px;
    --font-size-29xl: 48px;
  
    /* Colors */
    --color-white: #fff;
    --color-gray-100: rgba(8, 17, 20, 0.5);
    --color-navy: #210076;
    --color-black: #000;
    --color-royalblue: #0f4fcc;
    --color-mediumseagreen: #15b776;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-11xl: 30px;
    --padding-5xl: 24px;
  }
 